<Files "database.json">
Order Allow,Deny
Deny from all
</Files>

<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

<Files .git>
Order Allow,Deny
Deny from all
</Files>

<Files .gitignore>
Order Allow,Deny
Deny from all
</Files>

<Files "projet_netsoc.sql">
Order Allow,Deny
Deny from all
</Files>

<Files "image">
Order Allow,Deny
Deny from all
Options -Indexes
</Files>

