@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Teko:wght@300&display=swap');

.formulaire_inscription label{
    display: inline-block;
    vertical-align: top;
}
.formulaire_connexion{
     display: block;
     float: left;
 }
body h1 {
    font-family: 'Teko', sans-serif;
}

/*############ formulaire de post des messages dans profile ############*/


